{% extends 'layouts/__products.html' %}
{% load static %}
{% load humanize %}

{% block title %} Plats {% endblock %}

{% block topbar %} {% include 'shared/_topbar.html' with current="products" title="products_food" %} {% endblock %}

{% block breadcrumb %} {% include 'shared/_breadcrumb.html' with current='products' title='foods' %} {% endblock breadcrumb %}

{% block main %}
    <div class="row">
        <div class="col">
            <h1 class="h2">Plats</h1>
        </div>
        <div class="col text-right">
            <a href="{% url 'eatsj:products_food_create' %}" class="btn primary">
                <span class="icon">
                    <i class="material-icons">add</i>
                </span>&nbsp;
                <span>Ajouter</span>
            </a>
        </div>
    </div>

    <div class="grid of-sm-1 of-md-2 of-lg-3 of-xl-5 gap-2">
        {% for food in object_list %}
            <div class="cell card ">
                <div class="card-item product_image" style="background-image: url('{% if food.image %} {{ food.image.url }} {% else %} {% static '/img/default-food-image.jpg' %}  {% endif %}')">
                    <div class="product_content t-white">
                        <div class="title">{{ food.name }}</div>
                        <div class="subtitle">{{ food.price_init|intcomma }} F CFA</div>
                    </div>
                </div>
                <div class="card-item text-justify">
                    {{ food.description }}
                </div>
                <div class="card-item display as-flex justify-content-end">
                    <a href="{% url 'eatsj:products_food_delete' pk=food.pk %}" class="btn link transparent no-border t-danger p-0">
                        <span class="icon"><i class="material-icons h3">delete</i></span>
                    </a>
                    <a href="{% url 'eatsj:products_food_details' pk=food.pk %}" class="btn link transparent no-border t-info p-0 ml-1">
                        <span class="icon"><i class="material-icons h3">visibility</i></span>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}