{% extends 'layouts/__app.html' %}

{% load humanize %}

{% block title %} Historique {% endblock %}

{% block sidebar %} {% include 'shared/_sidebar.html' with title="histories" %} {% endblock %}

{% block breadcrumb %} {% include 'shared/_breadcrumb.html' with current='histories' %} {% endblock breadcrumb %}

{% block main %}
    <h1 class="h2">Historique</h1>

    <div class="table-responsive">
        <table class="table striped centered">
            <thead class="bg-secondary t-white">
                <tr>
                    <th>Utilisateur</th>
                    <th>Description</th>
                    <th>Opération</th>
                    <th>Entité</th>
                    <th>Date</th>
                    <th>A reussi?</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for history in object_list %}
                    <tr>
                        <td>{{ history.username }}</td>
                        <td>{{ history.description }}</td>
                        <td>{{ history.action }}</td>
                        <td>{{ history.instance }}</td>
                        <td>{{ history.when|naturaltime }}</td>
                        <td>{{ history.done }}</td>
                        <td>
                            <div class="group">
                                <button class="btn link danger size-sm">Supprimer</button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}      
            </tbody>
        </table>
    </div>
{% endblock %}