:root {
    --primary-color: #D40C26;
    --secondary-color: #8A0717;
}

.slim-content {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 75px;
}

main {
    overflow-y: auto;
}

.login__card {
    width: 400px;
    border-radius: 20px;
}

.login__icon--circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.login__icon--circle i {
    font-size: 65px;
}

.login__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 20px;
    width: 100%;
    height: 50%;
}

.login__form label[for="id_username"] {
    color: white;
}

/* main nav.sidebar {
    z-index: 1;
    position: relative;
} */

.sidebar {
    max-width: 200px;
}

.sidebar .sidebar-brand img {
    width: 50px;
}

.divider {
    width: 90%;
    border: none;
    height: 1px;
    opacity: .3;
    background-color: var(--var-text-color);
}

.sidebar .side-link {
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0;
}

.sidebar .side-link li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    padding: 13px 25px;
}

.sidebar .side-link li {
    position: relative;
    border-radius: 40px;
    background-color: var(--secondary-color);
    z-index: 12;
}

.sidebar .side-link li.active::after {
    content: "";
    position: absolute;
    top: -50%;
    right: 0;
    width: 50px;
    height: 200%;
    background-color: inherit;
    z-index: -1;
}

.sidebar .side-link li.active::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-100%);
    width: 50px;
    height: 100%;
    background-color: var(--secondary-color);
    border-bottom-right-radius: 50%;
}

.sidebar .side-link li.active:last-child::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(100%);
    width: 50px;
    height: 100%;
    background-color: var(--secondary-color);
    border-top-right-radius: 50%;
}

.sidebar .side-link li:not(.active):hover a {
    color: var(--warning-color);
    font-weight: 900;
}

.sidebar .side-link li.active {
    font-weight: 500;
    background-color: white;
    color: var(--primary-color);
}

.topbar .nav-item.active a {
    position: relative;
    color: var(--primary-color);
}

.topbar .nav-item.active a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    right: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: var(--secondary-color);
    border-radius: 40px;
}

.product_image {
    height: 300px;
    /* filter: brightness(50%); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.product_image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    border-radius: inherit;
}

/* .product_image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}*/

.product_content {
    position: absolute;
    bottom: 15px;
    z-index: 2;
} 

.dropdown {
    position: relative;
}

.dropdown .dropdown-content {
    position: absolute;
    left: 50%;
    bottom: -50%;
    transform: translate(-50%, 50%);
    background-color: #8A0717;
    min-width: 150px;
    max-height: 0;
    overflow: hidden;
    transition: .25s max-height ease-out;
}

.dropdown:hover .dropdown-content {
    max-height: 100%;
}

.dropdown .dropdown-content::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background-color: #8A0717;
}