{% extends 'layouts/__app.html' %}

{% block title %} Commandes {% endblock %}

{% block sidebar %} {% include 'shared/_sidebar.html' with title="orders" %} {% endblock %}

{% block breadcrumb %} {% include 'shared/_breadcrumb.html' with current='orders' %} {% endblock breadcrumb %}

{% block main %}
    <h1 class="h2">Commandes</h1>

    <div class="table-responsive">
        <table class="table striped centered">
            <thead class="bg-secondary t-white">
                <tr>
                    <th>Numéro</th>
                    <th>Date</th>
                    <th>Utilisateur</th>
                    <th>Plat</th>
                    <th>Boisson</th>
                    <th>Prix</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ORD154785</td>
                    <td>04/01/2021:12:07:05</td>
                    <td>themasterking</td>
                    <td>Eru</td>
                    <td>33 Export</td>
                    <td>1 500</td>
                    <td>
                        <div class="group">
                            <button class="btn link danger size-sm">Supprimer</button>
                            <button class="btn info size-sm">Détails</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}