{% extends 'layouts/__app.html' %}

{% block title %} Utilisateurs {% endblock %}

{% block sidebar %} {% include 'shared/_sidebar.html' with title="users" %} {% endblock %}

{% block breadcrumb %} {% include 'shared/_breadcrumb.html' with current='users' title='details' %} {% endblock breadcrumb %}

{% block main %}
    <h1 class="h2">Détails de {{ object.username }}</h1>


    <form class="t-grey">

        <div class="grid of-2 gap-3 mt-5">
            <div class="cell field">
                {{form.last_name}}
                <div class="field-label">
                    <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label_tag }}</label>
                </div>
            </div>
            <div class="cell field">
                {{form.first_name}}
                <div class="field-label">
                    <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label_tag }}</label>
                </div>
            </div>
            <div class="cell field">
                {{form.register}}
                <div class="field-label">
                    <label for="{{ form.register.id_for_label }}">{{ form.register.label_tag }}</label>
                </div>
            </div>
            <div class="cell field">
                <div class="field-select">
                    {{form.gender}}
                </div>
                <div class="field-label">
                    <label for="{{ form.gender.id_for_label }}">{{ form.gender.label_tag }}</label>
                </div>
            </div>
            <div class="cell field">
                {{form.phone}}
                <div class="field-label">
                    <label for="{{ form.phone.id_for_label }}">{{ form.phone.label_tag }}</label>
                </div>
            </div>
            <div class="cell field">
                {{form.email}}
                <div class="field-label">
                    <label for="{{ form.email.id_for_label }}">{{ form.email.label_tag }}</label>
                </div>
            </div>
            <div class="cell field">
                {{form.username}}
                <div class="field-label">
                    <label for="{{ form.username.id_for_label }}">{{ form.username.label_tag }}</label>
                </div>
            </div>
            <div class="cell field">
                {{form.is_superuser}}
                <div class="field-label">
                    <label for="{{ form.is_superuser.id_for_label }}">{{ form.is_superuser.label_tag }}</label>
                </div>
            </div>
        </div>

        <div class="text-center mt-5">
            <div class="group">
                <button type="button" class="btn info link">Cliquez ici pour modifier</button>
                <button type="submit" class="btn primary t-white" disabled>Modifier</button>
            </div>
        </div>
    </form>
{% endblock %}