{% extends 'base.html' %}
{% load static %}

{% block title %}Connexion{% endblock %}


{% block content %}

<div class="display as-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="card shadow-2 login__card">
        <div class="card-item no-border py-4">
            <div class="bg-primary login__bg"></div>
            <div class="mt-3" style="position: relative; z-index: 2;">
                <div class="display as-flex justify-content-center">
                    <div class="bg-white t-primary login__icon--circle">
                        <!-- <i class="material-icons">person</i> -->
                        <img src="{% static 'img/logo.svg' %}" alt="logo" width="80" height="80">
                    </div>
                </div>
                <h3 class="mb-5 text-center t-white">Connexion</h3>
            </div>
            <form class="login__form t-grey" method="POST">
                {% csrf_token %}
        
                {% for field in form %}
                    <div class="field">
                        {{ field }}
                        <div class="field-label">
                            <label for="{{ field.id_for_label }}" class="ml-2">{{ field.label }}</label>
                        </div>
                    </div>
                {% endfor %}
                <!-- <br> -->
                <div class="display as-flex flex-col align-items-center mt-5">
                    <button class="btn primary t-white round w-100">Se connecter</button>
                    <a href="#" class="btn link no-border">Mot de passe oublié ?</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}