<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eat'sj - {% block title %} Accueil {% endblock %}</title>
    {% include 'shared/_css.html' %}
    {% include 'shared/_js.html' %}
    
    {% block personal_head %}{% endblock personal_head %}
</head>
<body>
    {% block content %} {% endblock %}
</body>
</html>